<html>
    <head>
        <meta charset="utf-8">
        <title>Suitmedia</title>
        <link rel="stylesheet" href="home.css">
    </head>
    <body>
        <div class="navbar-container">
            <div class="navbar-wrapper">
                <h4>Company</h4>
                <a class="button-about" href="#">ABOUT</a>
                <a class="button-work" href="#">OUR WORK</a>
                <a class="button-team" href="#">OUR TEAM</a>
                <a class="button-contact" href="#">CONTACT</a>
            </div>
        </div>
        <div class="picture-container">
        </div>
        <div class="content-container">
        </div>
        <div class="form-container">
        </div>
        <div class="footer-container">
    </body>
</html>

